<h1>Login to your Account</h1>

<center><form method="POST" action="/sessions">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <button type="submit" id="submit">Submit</button>
</form></center>
<br>
<%= link_to("Log In With Google", '/auth/google_oauth2') %>
<br>
(JH).&copy;


