<h1> Hello Welcome to RateIt User: <%= current_user.username  %>  </h1>

<h2>Choose a Category</h2>

<%= link_to "Automobiles", vehicles_new_url %><br>


<%= link_to "Logout", logout_path %>

